@tailwind base;
@tailwind components;
@tailwind utilities;

/* font  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.font-ibm {
    font-family: "IBM Plex Sans", sans-serif;
  }
.font-inter
{
    font-family: "Inter", sans-serif;
}
/* login page  */
.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.label {
    
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.inputl {
    width: 60%;
    height: 10px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.buttonl {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-280px);
    transition: .8s ease-in-out;
}

.login .label {
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login .label {
    color: #F33823;
    transform: scale(1);
}

#chk:checked~.signup label {
    color: #0ea5e9;
    transform: scale(.6);
}


/* loader */

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the loader div */
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Styling for the loading text */
#h3 {
    color: white;
}

/* Styling for the rings */
#ring {
    width: 190px;
    height: 190px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
}

/* Styling for the first ring */
#ring:nth-child(1) {
    border-bottom: 8px solid rgb(255, 0, 157);
    animation: rotate1 2s linear infinite;
}

/* Animation for the first ring */
@keyframes rotate1 {
    from {
        transform: rotateX(50deg) rotateZ(110deg); /* Initial rotation */
    }

    to {
        transform: rotateX(50deg) rotateZ(470deg); /* Final rotation */
    }
}

/* Similar styling and animation for the second, third, and fourth rings */
#ring:nth-child(2) {
    border-bottom: 8px solid rgb(253, 0, 55);
    animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
    from {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }

    to {
        transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
}

#ring:nth-child(3) {
    border-bottom: 8px solid rgb(85, 255, 0);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
    from {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }

    to {
        transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
}

#ring:nth-child(4) {
    border-bottom: 8px solid rgb(255, 166, 0);
    animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
    from {
        transform: rotateX(70deg) rotateZ(270deg);
    }

    to {
        transform: rotateX(70deg) rotateZ(630deg);
    }
}
